
<%-// include('layout.ejs') %>

<div class='body'>
    <h4>使用預錄影片做分析監控</h4>
    <form id="uImgForm" action="/upload_file" method="post" enctype="multipart/form-data">
        <input id="image-file" type="file" value = '選擇路況影片' name="myfile" accept="video/*" data-target="file-uploader">
        <input type="hidden" value="video" name='page'>
        <input type="submit" id='uMovBtn' value = '上傳路況影片'></input><div id="displayResponse"></div>
    </form>
    <form id="uImgForm1" action="/upload_file1" method="post" enctype="multipart/form-data">
        <input id="image-file1" type="file" value = '選擇臉部影片' name="myfile" accept="video/*" data-target="file-uploader">
        <input type="hidden" value="video" name='page'>
        <input type="submit" id='uMovBtn1' value = '上傳臉部影片'></input><div id="displayResponse1"></div>
    </form>
    <button id ='video_strvideo'>播放影片</button>
    <button id ='video_stpvideo'>暫停影片</button>
    <div class="videDisplayDiv">
        <table>
            <tr>
                <td>
                    <div class="imgDisplay">
                        <!-- <video id='videoX' class="imgDisplay" src='./images/video/driver.mp4' controls='' ></video> -->
                        <img id="displayCarView" class="imgDisplay" width="320" src=<%= img %> alt="./images/logos.png">
                        <div class="textClass displayHide" id="displayCarViewText" ></div>
                        <video id="videoX" class="displayHide" loop muted src="./images/video/driver.mp4"></video>
                    </div>
                    <div class="imgDisplay">
                        <video id='videoY' class="imgDisplay" src='./images/video/face.mp4' loop muted></video>
                    </div>
                </td>
                <td class="tdTop">
                    <div class="analysisResult">
                            <table>
                                <tr>
                                    <th><p>item分類</p> </th>
                                    <th><p>score評分</p> </th>
                                    <th><p>risk風險</p> </th>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b>fatigue</b></p>
                                    </td>
                                    <td id=fatigueScore></td>
                                    <td id=fatigueRisk></td>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        <p>Concentration專注前方</p>
                                    </td>
                                    <td id=concScore></td>
                                    <td id=concRisk></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Eye closure閉眼</p>
                                    </td>
                                    <td id=eyeClosureScore></td>
                                    <td id=eyeClosureRisk></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>blink眨眼</p>
                                    </td>
                                    <td id=blinkScore></td>
                                    <td id=blinkRisk></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>yawn打呵欠</p>
                                    </td>
                                    <td id=yawnScore></td>
                                    <td id=yawnRisk></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b>Emotion</b></p>
                                    </td>
                                    <td id=emotionScore></td>
                                    <td id=emotionRisk></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Angry生氣</p>
                                    </td>
                                    <td id=angryScore></td>
                                    <td id=angryRisk></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Sad悲傷</p>
                                    </td>
                                    <td id=sadScore></td>
                                    <td id=sadRisk></td>
                                </tr>
                                <tr>
                                    <td>
                                        <p>Happy開心</p>
                                    </td>
                                    <td id=happyScore></td>
                                    <td id=happyRisk></td>
                                </tr> -->
                                <tr>
                                    <td><p>speed車速</p></td>
                                    <td id=speedScore></td>
                                    <td id=speedRisk></td>
                                </tr>
                                <tr>
                                    <td><p>車道偏移</p></td>
                                    <td id=landScore></td>
                                    <td id=landRisk></td>
                                </tr>
                                <tr>
                                    <td><p>前車距</p></td>
                                    <td id=distanceScore></td>
                                    <td id=distanceRisk></td>
                                </tr>
                            </table>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <% dataS = JSON.stringify(data) %>
    <% console.log("[LOG] Render video page") %>
    <form action=""><input id="storeData" type="hidden" value="<%= dataS %>">
        <input type="hidden" id="token" value="<%= token %>"></form>
</div>

<script type="module" src="./js/pageAction.js"></script>